@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;1,300&family=Montserrat:ital,wght@0,100;0,300;0,400;0,900;1,100;1,200&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input:focus {
  outline: none !important;
}

* {
  transition-duration: 0.5s;
  scrollbar-color: #000 #fff;
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  background-color: #fff;
  width: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: #000;
}

.button-black {
  border: 1px solid black;
  font-family: 'Cormorant Garamond';
  background: black;
  color: white;
  font-size: 1em;
  padding: 0.5em;
  cursor: pointer;
}

.button-black:hover {
  color: black;
  background: white;
}

.button-white {
  border: 1px solid black;
  font-family: 'Cormorant Garamond';
  background: white;
  color: black;
  font-size: 1em;
  padding: 0.5em;
  cursor: pointer;
}

.button-white:hover {
  color: white;
  background: black;
}

.module {
  width: 100%;
  height: 65vh;
  font-family: 'Cormorant Garamond';
}

.charactertrait {
  margin: 0;
  display: block;
}

.new-character {
  margin-top: 20px;
  font-size: 1.5em;
  display: block;
  width: 100%;
}

#submit-character-info {
  background: black;
  border: 1px solid white;
  color: white;
  font-family: 'Cormorant Garamond';
  text-transform: capitalize;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 5px;
  cursor: pointer;
  position: absolute;
  top: 86.5%;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 200px;
  height: 40px;
}

#character-creation-form {
  display: block;
  align-items: center;
  justify-content: center;
  height: 35vh;
}

#character-creation #display-fetched-character {
  top: 34%;
  height: 50vh;
}

#character-creation .tooltip {
  display: none !important;
}

#fetched-character-name {
  text-align: center;
  text-align-last: center;
  text-transform: capitalize;
}

.fetched-attribute {
  background-color: black;
  color: white;
  padding: 20px;
}

#character-creation-form textarea {
  font-family: 'Cormorant Garamond';
  border: 0px;
}

textarea:focus {
  outline: none !important;
}

.textarea-name {
  height: 25px;
  width: 75%;
}

.textarea-text {
  height: 40vh;
  max-height: 40vh;
  width: 100%;
}

#character-prompt {
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  width: 55vw;
  text-align: justify;
  text-align-last: center;
}

#stored-characters-list {
  display: flex;
  justify-content: center;
}

.stored-chars {
  border: none;
  border-left: 1px solid black;
  border-right: 1px solid black;
  background: none;
  font-family: 'Cormorant Garamond';
  cursor: pointer;
  color: black;
  font-size: 1em;
  margin: 5px;
  margin-top: 0;
  display: inline-block;
  padding: 10px;
  text-transform: capitalize;
}

#stored-characters ul {
  padding: 0;
}

#reader {
  display: none;
  height: 50vh;
  width: 60vw;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#clear-storage,
#save-changes,
#delete-character {
  background: black;
  border: 1px solid white;
  font-family: 'Cormorant Garamond';
  position: absolute;
  top: 95%;
  right: 50%;
  transform: translateX(50%);
  color: white;
  font-size: 0.8em;
  width: 20%;
  height: 25px;
  cursor: pointer;
}

#clear-storage:hover,
#save-changes:hover,
#delete-character:hover {
  background: white;
  color: black;
  border: 1px solid black;
}

#save-changes {
  left: 20%;
}

#delete-character {
  right: 40%;
}

#display-current-character {
  width: 55vw;
  height: 45vh;
  overflow-y: scroll;
}

#display-current-character p {
  display: inline;
}

.display-current-character-element {
  text-align: justify;
  text-align-last: left;
  margin-bottom: 5px;
  display: inline-block;
  width: 50vw;
}

.option {
  background: black;
  color: white;
  font-size: 1.25em;
  font-family: 'Montserrat';
  border: 0;
  padding: 20px;
  cursor: pointer;
  border: 1px solid white;
  color: white;
  width: 20%;
  height: 100px;
}

.option:hover {
  background: white;
  color: black;
  border: 1px solid black;
  transition-duration: 0.5s;
}

#alert {
  position: absolute;
  top: 90%;
}

#char-choice-buttons {
  position: absolute;
  width: 95%;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.clicked {
  position: absolute;
  top: 125%;
  height: 100px;
}

#storage-display {
  height: 55vh;
  width: 57.5vw;
}

#display-fetched-character {
  width: 65vw;
  height: 61vh;
  overflow-y: scroll;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}

#display-fetched-character p {
  font-size: 1.25em;
}

#character-creation-navigation {
  position: absolute;
  top: 97.25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  font-size: 0.8em;
}

.character-creation-button,
.character-creation-save-button {
  background: black;
  color: white;
  font-size: 1em;
  font-family: 'Cormorant Garamond';
  border: 0;
  cursor: pointer;
  width: 16%;
  margin: 2px;
  padding: 10px;
}

.character-creation-save-button {
  background: white;
  color: black;
  padding: 8px;
  box-shadow: 0px 5px 15px 0px #000000;
}

.character-creation-save-button:hover {
  border: 1px solid black;
  box-shadow: 0px 5px 15px 0px #000000;
}

#fa-icon {
  margin-left: 5px;
  margin-right: 5px;
}

#moodboard-upload-button {
  position: relative;
  top: 90%;
  transform: translateY(-100%);
  border: 2px solid white;
  padding: 15px;
  width: 80%;
  font-family: 'Cormorant Garamond';
}

#moodboard-upload-button button {
  background: white;
}

#moodboard {
  display: grid;
  grid-template-rows: 1fr;
  height: 60vh;
  margin-left: 10px;
  overflow-y: scroll;
  direction: rtl;
  align-items: end;
}

* {
  scrollbar-color: #fff #000;
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  background-color: #fff;
  width: 8px;
}

#moodboard::-webkit-scrollbar-thumb {
  background-color: #000;
}

#moodboard img {
  width: 100%;
}

#add-image {
  position: absolute;
  top: 95%;
  left: 0%;
  z-index: 1200;
  height: 4vh;
  width: 100%;
  padding: 0;
  margin: 0;
}

#submit-image {
  position: absolute;
  background: black;
  color: white;
  border: none;
  font-family: 'Cormorant Garamond';
  height: 25px;
  width: 80%;
  padding: 0;
  margin: 0;
  top: 95%;
  left: 0%;
  cursor: pointer;
  z-index: 10000;
}

#submit-image:hover {
  background: white;
  color: black;
  border: 1px solid black;
}

#reset-moodboard {
  position: absolute;
  background: black;
  color: white;
  border: none;
  font-family: 'Cormorant Garamond';
  height: 25px;
  width: 20%;
  padding: 0;
  margin: 0;
  top: 95%;
  left: 80%;
  cursor: pointer;
  z-index: 10000;
  border-left: 1px solid white;
}

#reset-moodboard:hover {
  background: white;
  color: black;
  border: 1px solid black;
}

#save-moodboard {
  position: absolute;
  background: black;
  color: white;
  border: none;
  font-family: 'Cormorant Garamond';
  height: 25px;
  width: 20%;
  padding: 0;
  margin: 0;
  top: 95%;
  left: 60%;
  cursor: pointer;
  z-index: 10000;
  border-left: 1px solid white;
}

#save-moodboard:hover {
  background: white;
  color: black;
  border: 1px solid black;
}

#image-input {
  position: absolute;
  background: black;
  color: white;
  top: 90%;
  left: 5%;
  width: 85%;
  height: 3vh;
  border: none;
  padding: 0;
  margin: 0;
  padding-right: 10px;
  padding-left: 10px;
  font-family: 'Cormorant Garamond';
}

#image-input:focus {
  border: 0;
  outline: 1px solid white;
}

#plot-nav {
  position: absolute;
  top: 52.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
}

.book-display-sidebar {
  margin-bottom: 15px;
}

#stored-characters-list #books,
#stored-characters-list #worldbuilding {
  display: none;
}

#arcs-nav-buttons {
  position: absolute;
  top: 7.5%;
  left: 50%;
  transform: translate(-50%, 20%);
  z-index: 2;
}

#arcs-nav-buttons .MuiToggleButton-root {
  border-radius: 0%;
  padding-top: 0;
  padding-bottom: 0;
  width: 125px;
}

#arcs-nav-buttons .Mui-selected {
  background-color: #000;
  color: white;
  transition-delay: 0.1s;
}

#comment-input {
  width: 250px !important;
  font-weight: 300 !important;
}

h1 {
  font-family: 'Montserrat';
  font-weight: 900;
  text-transform: uppercase;
}

#one-sentence-summary {
  width: 70%;
  max-width: 70%;
  margin: 10%;
  margin-top: 10px;
  margin-bottom: 15px;
  background: transparent;
  border: 1px dotted grey;
  color: white;
  font-family: 'Cormorant Garamond';
  height: 75%;
  max-height: 75%;
  padding: 5%;
}

#right-sidebar-input {
  border-top: 1px solid white;
  padding-top: 20px;
  height: 75%;
  background: black;
  color: white;
}

#save-summary {
  width: 40%;
  border: 1px solid black;
  padding: 0.5em;
  margin: 0;
  cursor: pointer;
  background: white;
  font-family: 'Montserrat';
  font-weight: 900;
  text-transform: uppercase;
}

#save-summary:hover {
  background: black;
  border: 1px solid white;
  color: white;
}

#current-container {
  width: 90%;
}

.black-active-btn {
  background: black;
  color: white;
}

.white-active-btn {
  background: white;
  color: black;
  border: 1px solid black;
}

#character-creation-form textarea {
  background: black;
  color: white;
  font-size: 1.25em;
  padding: 10px;
  margin-top: 25px;
}

#textarea-name {
  text-align: center;
  width: 50%;
  font-size: 1.5em;
}

#__next {
  height: 100%;
}

#textarea-artist {
  text-align: center;
  font-size: 0.85em;
}

.active-tile {
  background: white;
  color: black;
  box-shadow: 0px 0px 25px 0px #fff;
}

#item-icon {
  margin-left: 10px;
  margin-right: 10px;
}

#item-icon:focus {
  border: 0;
  outline: 1px solid black;
}

#radio-btns {
  margin-top: 10px;
}

.MuiButton-contained {
  font-weight: 900 !important;
}

#drawer-btn-container {
  position: absolute;
  left: 0%;
  top: 0%;
}

#circular-save-btn-container {
  width: 6%;
  position: relative;
  left: 97%;
  bottom: 10%;
  transform: translate(-50%, 25%);
}

.MuiSnackbarContent-root {
  background-color: black !important;
}

#writing-resources {
  overflow: auto;
  height: 60vh;
}

#writing-resources li {
  margin-bottom: 10px;
}

#writing-resources a {
  color: black;
  font-size: 1.2rem;
  text-decoration: none;
}

#writing-resources a:hover {
  padding: 10px;
  background-color: black;
  color: white;
  border-radius: 10px;
}

#about-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#about {
  width: 40vw;
}

#about a {
  margin: 8px;
  color: black;
}

.MuiTooltip-popperArrow {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

#circular-container {
  position: absolute;
  left: 100%;
  border-radius: 50%;
}

.btn-unsaved {
  border-radius: 50%;
  box-shadow: 0px 0px 15px 5px #f00, inset 0px 0px 10px 11px #f00 !important;
}

.btn-saved {
  border-radius: 50%;
  box-shadow: none !important;
}

.btn-red {
  border: none;
  box-shadow: 0px 0px 15px 5px #f00, inset 0px 0px 1px 1px #f00 !important;
}

#plot-nav button,
#char-choice-buttons button {
  font-size: 0.8rem;
}

#worldbuilding-buttons-container {
  width: 100%;
}

/* For Mobile */
@media only screen and (max-device-width: 1000px) {
  #mobile-error-message {
    display: flex;
    width: 100vw;
    height: 100vh;
    font-family: 'Montserrat';
    font-weight: 300;
    align-items: center;
    justify-content: center;
  }

  .App,
  #drawer-btn-container {
    display: none;
  }
}

/* For 1024 Resolution */
@media only screen and (min-device-width: 1000px) and (max-device-width: 1366px) {
  #module-intro-phrase p:first-child {
    font-size: 1rem;
  }

  #plot-nav button,
  #char-choice-buttons button {
    font-size: 0.8rem;
    width: 50%;
  }

  .textarea-name {
    width: 80%;
  }

  #character-prompt {
    line-height: 0.9rem;
  }

  .bookname-input-container {
    padding-left: 0 !important;
    justify-content: center;
  }

  #book-counter h4 {
    font-size: 1.5rem;
  }
}

/* For 1366 Resolution */
@media only screen and (min-width: 1030px) and (max-width: 1366px) {
  #module-intro-phrase p:first-child {
    font-size: 1rem;
  }

  .worldbuilding-navbtn {
    font-size: 0.6em !important;
    margin-bottom: 10px;
    padding: 2px !important;
  }

  .button-black {
    width: 40% !important;
  }
}

@media only screen and (min-width: 1030px) and (max-width: 1440px) {
  .worldbuilding-navbtn {
    padding-top: 0;
    padding-bottom: 0;
  }
}
