@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;1,300&family=Montserrat:ital,wght@0,100;0,300;0,900;1,100;1,200&display=swap");

* {
  transition-duration: 0.5s;
  scrollbar-color: #000 #fff;
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  background-color: #fff;
  width: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: #000;
}

body {
  margin: 0;
  background: white;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.button-black {
  border: 1px solid black;
  font-family: "Cormorant Garamond";
  background: black;
  color: white;
  font-size: 1em;
  padding: 0.5em;
  cursor: pointer;
}

.button-black:hover {
  color: black;
  background: white;
}

.button-white {
  border: 1px solid black;
  font-family: "Cormorant Garamond";
  background: white;
  color: black;
  font-size: 1em;
  padding: 0.5em;
  cursor: pointer;
}

.button-white:hover {
  color: white;
  background: black;
}

.App {
  text-align: center;
  width: 65vw;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
}

.App-header {
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  border: 2px solid black;
  width: 100%;
}

.module h1 {
  position: relative;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.App-header h1 {
  font-family: "Cormorant Garamond";
  text-transform: uppercase;
  color: white;
  font-weight: 300;
}

main {
  height: 77.5vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  font-family: "Cormorant Garamond";
}

main h1 {
  margin-top: 0;
}

.left-side {
  position: absolute;
  top: 55%;
  right: 100%;
  transform: translate(0%, -50%);
  height: 75vh;
  width: 18vw;
  font-family: "Cormorant Garamond";
  background: black;
  color: white;
}

.right-side {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(1%, -50%);
  height: 75vh;
  width: 17.5vw;
  font-family: "Cormorant Garamond";
  color: white;
  display: none;
}

#main-menu-container {
  width: calc(65vw + 15px);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 100%;
  background: none;
}

.main-menu {
  width: 15%;
  height: 50px;
  margin: 5px;
  border: 1px solid black;
  cursor: pointer;
  font-family: "Cormorant Garamond";
  font-size: 1.25em;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 15px 0px #000000;
  background: white;
}

.module {
  width: 100%;
  height: 65vh;
  font-family: "Cormorant Garamond";
}

.lets-plot {
  background: black;
  border: none;
  color: white;
  font-family: "Cormorant Garamond";
  padding: 10px;
  font-size: 1em;
  width: 100%;
  cursor: pointer;
  box-sizing: border-box;
}

.lets-plot:hover {
  padding: 9px;
  cursor: pointer;
  background: white;
  color: black;
  border: 1px solid black;
}

.charactertrait {
  margin: 0;
  display: block;
}

.new-character {
  margin-top: 20px;
  font-size: 1.5em;
  display: block;
  width: 100%;
}

#submit-character-info {
  background: black;
  border: 1px solid white;
  color: white;
  font-family: "Cormorant Garamond";
  text-transform: capitalize;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 5px;
  cursor: pointer;
  position: absolute;
  top: 86.5%;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 200px;
  height: 40px;
}

#character-creation-form {
  display: block;
  align-items: center;
  justify-content: center;
  height: 35vh;
}

#character-creation #display-fetched-character {
  height: 50vh;
}

#character-creation-form textarea {
  font-family: "Cormorant Garamond";
  border: 0px;
}

textarea:focus {
  outline: none !important;
}

.textarea-name {
  height: 15px;
  width: 25%;
}

.textarea-text {
  height: 40vh;
  max-height: 40vh;
  width: 100%;
}

#character-prompt {
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  width: 55vw;
  text-align: center;
}

#stored-characters-list {
  display: inline;
}

.stored-chars {
  border: none;
  border-left: 1px solid black;
  border-right: 1px solid black;
  background: none;
  font-family: "Cormorant Garamond";
  cursor: pointer;
  color: black;
  font-size: 1em;
  margin: 5px;
  margin-top: 0;
  display: inline-block;
  padding: 10px;
  text-transform: capitalize;
}

#stored-characters ul {
  padding: 0;
}

#reader {
  display: none;
  height: 50vh;
  width: 60vw;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#clear-storage,
#save-changes,
#delete-character {
  background: black;
  border: 1px solid white;
  font-family: "Cormorant Garamond";
  position: absolute;
  top: 95%;
  right: 50%;
  transform: translateX(50%);
  color: white;
  font-size: 0.8em;
  width: 20%;
  height: 25px;
  cursor: pointer;
}

#clear-storage:hover,
#save-changes:hover,
#delete-character:hover {
  background: white;
  color: black;
  border: 1px solid black;
}

#save-changes {
  left: 20%;
}

#delete-character {
  right: 40%;
}

#display-current-character {
  width: 55vw;
  height: 45vh;
  overflow-y: scroll;
}

#display-current-character p {
  display: inline;
}

.display-current-character-element {
  text-align: justify;
  text-align-last: left;
  margin-bottom: 5px;
  display: inline-block;
  width: 50vw;
}

.option {
  background: black;
  color: white;
  font-size: 1.5em;
  font-family: "Cormorant Garamond";
  border: 0;
  padding: 20px;
  cursor: pointer;
  border: 1px solid white;
  color: white;
  width: 20%;
  height: 100px;
}

.option:hover {
  background: white;
  color: black;
  border: 1px solid black;
  transition-duration: 0.5s;
}

#char-choice-buttons {
  position: absolute;
  width: 100%;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.clicked {
  position: absolute;
  top: 125%;
  height: 100px;
}

#storage-display {
  height: 55vh;
  width: 57.5vw;
}

#display-fetched-character {
  width: 65vw;
  height: 60vh;
  overflow-y: scroll;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
}

#display-fetched-character p {
  font-size: 1.25em;
}

#character-creation-navigation {
  position: absolute;
  top: 97.25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  font-size: 0.8em;
}

.character-creation-button,
.character-creation-save-button {
  background: black;
  color: white;
  font-size: 1em;
  font-family: "Cormorant Garamond";
  border: 0;
  cursor: pointer;
  width: 16%;
  margin: 2px;
  padding: 10px;
}

.character-creation-save-button {
  background: white;
  color: black;
  padding: 8px;
  box-shadow: 0px 5px 15px 0px #000000;
}

.character-creation-save-button:hover {
  border: 1px solid black;
  box-shadow: 0px 5px 15px 0px #000000;
}

#fa-icon {
  margin-left: 5px;
  margin-right: 5px;
}

#moodboard-upload-button {
  position: relative;
  top: 90%;
  transform: translateY(-100%);
  border: 2px solid white;
  padding: 15px;
  width: 80%;
  font-family: "Cormorant Garamond";
}

#moodboard-upload-button button {
  background: white;
}

#fileUpload {
  display: none;
}

#moodboard {
  display: grid;
  grid-template-rows: 1fr;
  height: 60vh;
  margin-left: 10px;
  overflow-y: scroll;
  scrollbar-color: #fff #000;
  scrollbar-width: thin;
  direction: rtl;
  align-items: end;
}

#moodboard::-webkit-scrollbar {
  background-color: #fff;
  width: 8px;
}

#moodboard::-webkit-scrollbar-thumb {
  background-color: #000;
}

#moodboard img {
  width: 100%;
}

#add-image {
  position: absolute;
  top: 95%;
  left: 0%;
  z-index: 1200;
  height: 4vh;
  width: 100%;
  padding: 0;
  margin: 0;
}

#submit-image {
  position: absolute;
  background: black;
  color: white;
  border: none;
  font-family: "Cormorant Garamond";
  height: 25px;
  width: 80%;
  padding: 0;
  margin: 0;
  top: 95%;
  left: 0%;
  cursor: pointer;
  z-index: 10000;
}

#submit-image:hover {
  background: white;
  color: black;
  border: 1px solid black;
}

#reset-moodboard {
  position: absolute;
  background: black;
  color: white;
  border: none;
  font-family: "Cormorant Garamond";
  height: 25px;
  width: 20%;
  padding: 0;
  margin: 0;
  top: 95%;
  left: 80%;
  cursor: pointer;
  z-index: 10000;
  border-left: 1px solid white;
}

#reset-moodboard:hover {
  background: white;
  color: black;
  border: 1px solid black;
}

#save-moodboard {
  position: absolute;
  background: black;
  color: white;
  border: none;
  font-family: "Cormorant Garamond";
  height: 25px;
  width: 20%;
  padding: 0;
  margin: 0;
  top: 95%;
  left: 60%;
  cursor: pointer;
  z-index: 10000;
  border-left: 1px solid white;
}

#save-moodboard:hover {
  background: white;
  color: black;
  border: 1px solid black;
}

#image-input {
  position: absolute;
  background: black;
  color: white;
  top: 90%;
  left: 5%;
  width: 90%;
  height: 3vh;
  border: none;
  padding: 0;
  margin: 0;
  padding-right: 10px;
  padding-left: 10px;
  font-family: "Cormorant Garamond";
}

#image-input:focus {
  border: 0;
  outline: 1px solid white;
}

#book-creator {
  display: grid;
  justify-content: center;
  font-family: "Cormorant Garamond";
}

#book-counter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 1px solid black;
  width: 15vw;
  height: 4vh;
}

#book-counter button {
  height: 4vh;
  border: none;
  background: black;
  color: white;
  cursor: pointer;
  font-family: "Cormorant Garamond";
}

#book-counter h1 {
  font-family: "Montserrat";
  font-weight: 900;
  margin: 0;
  top: 50%;
}

#book-namer {
  margin-top: 25px;
  width: 100%;
  height: 45vh;
  text-align: center;
  overflow-y: auto;
}

#book-namer form {
  margin-bottom: 10px;
  display: block;
}

.book-name-input-button:hover {
  background: white;
  border: 1px solid black;
  color: black;
}

.book-name-input {
  width: 50%;
  height: 20px;
  font-family: "Cormorant Garamond";
  margin-bottom: 15px;
}

.bookname-label,
.chapterinput-label {
  width: 10vw;
  display: inline;
  text-align: right;
  margin-right: 5px;
}

.set-book-chapter-count {
  width: 16vw;
}

.chapter-count-input {
  width: 5vw;
  font-family: "Cormorant Garamond";
}

.chapterinput-label {
  margin-top: 5px;
  width: 7vw;
}

#plot-nav {
  position: absolute;
  top: 52.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.plot-options {
  background: black;
  border: 1px solid white;
  font-family: "Cormorant Garamond";
  color: white;
  font-size: 1.5em;
  width: 20%;
  height: 100px;
  cursor: pointer;
}

.plot-options:hover {
  background: white;
  color: black;
  border: 1px solid black;
}

.book-display-sidebar {
  margin-bottom: 15px;
}

#stored-characters-list #books,
#stored-characters-list #worldbuilding {
  display: none;
}

#arcs-nav {
  position: absolute;
  top: 12.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

#arcs-nav button {
  border: 0;
  background: white;
  color: black;
  border-bottom: 1px solid black;
  font-family: "Cormorant Garamond";
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 5px;
  cursor: pointer;
}

#arcs-nav button:hover {
  background: black;
  color: white;
}

#chart-container {
  width: 55vw;
  height: 50vh;
  position: absolute;
  top: 55.5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#chart-input input {
  width: 30px;
  margin-left: 5px;
  margin-right: 5px;
  font-family: "Montserrat";
  font-weight: 900;
  text-align: center;
}

#chart-input input:focus {
  outline: none;
  border: 1px solid black;
  box-shadow: 0px 5px 15px 0px #000000;
}

.book-name-input:focus,
.chapter-count-input:focus {
  outline: none;
  border: 1px solid black;
  box-shadow: 0px 5px 15px 0px #000000;
}

#chart-input button {
  background: black;
  border: 1px solid white;
  font-family: "Cormorant Garamond";
  color: white;
  font-size: 0.8em;
  width: 40px;
  margin-left: 10px;
  cursor: pointer;
}

#chart-input button:hover {
  background: white;
  color: black;
  border: 1px solid black;
}

#confirmbooks {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: black;
  border: 1px solid white;
  font-family: "Cormorant Garamond";
  color: white;
  margin-left: 10px;
  padding: 10px;
  cursor: pointer;
  font-style: italic;
}

#confirmbooks:hover {
  background: white;
  color: black;
  border: 1px solid black;
}

#savechart {
  position: absolute;
  top: 103%;
  left: 102%;
  width: 6vw;
  height: 20px;
  transform: translate(-50%, -50%);
  background: black;
  border: 1px solid black;
  font-family: "Cormorant Garamond";
  color: white;
  cursor: pointer;
  font-style: italic;
  z-index: 10000;
}

#fetched-chapter-container #savechart {
  top: 102.5%;
}

#savechart:hover {
  background: white;
  color: black;
  border: 1px solid black;
}

#comment-input {
  width: 250px !important;
  font-weight: 300 !important;
}

.viewstate {
  position: relative;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 13vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-flow: row;
  justify-content: center;
  width: 200px;
  height: 50px;
  max-width: 50vw;
  z-index: 10000;
}

#books-view {
  top: 25%;
}

.book-display-in-view {
  background: black;
  color: white;
  border: none;
  cursor: pointer;
  display: grid;
  justify-self: center;
  width: 16vw;
  height: 20px;
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 0.75em;
  text-transform: uppercase;
  margin: 5px;
  padding: 3px;
}

.book-display-in-view:hover {
  background: white;
  color: black;
  box-shadow: 0px 5px 15px 0px #000000;
}

h1 {
  font-family: "Montserrat";
  font-weight: 900;
  text-transform: uppercase;
}

#chapter-list-container {
  position: absolute;
  top: 22.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 49vw;
  height: auto;
  overflow: auto;
  transition-duration: 0s;
  scrollbar-color: #000 #f3f3f3;
  scrollbar-width: thin;
  z-index: 100000;
  display: flex;
}

#chapter-list-container::-webkit-scrollbar {
  background-color: #f3f3f3;
  width: 8px;
}

#chapter-list-container::-webkit-scrollbar-thumb {
  background-color: #000;
}

.chapterButtons {
  background: black;
  color: white;
  font-family: "Cormorant Garamond";
  border: 0;
  width: 60%;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  height: 2em;
  padding: 5px;
  font-size: 1.25em;
  cursor: pointer;
  transition-duration: 0s;
  flex-basis: 100px;
  flex-grow: 0;
  flex-shrink: 0;
}

.chapterButtons:hover {
  background: white;
  color: black;
}

#init-chapter {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0px;
  background: black;
  color: white;
  font-family: "Montserrat";
  font-weight: 900;
  text-transform: uppercase;
  padding: 20px;
  cursor: pointer;
  border: 1px solid black;
}

#init-chapter:hover {
  background: white;
  color: black;
}

#chapter-options {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#fetched-chapter-container {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  height: 50vh;
  display: none;
  transition-duration: 0s;
}

#remove-chapter-btn {
  position: absolute;
  top: 94.5%;
  left: 36.5%;
  font-size: 0.7em;
}

#add-chapter-btn {
  position: absolute;
  top: 94.5%;
  right: 36.5%;
  font-size: 0.7em;
}

#remove-chapter-btn,
#add-chapter-btn {
  background: white;
  color: black;
  border: 1px solid black;
  font-family: "Montserrat";
  font-weight: 900;
  text-transform: uppercase;
  cursor: pointer;
  display: none;
  width: 12.5%;
  padding: 8px;
}

#remove-chapter-btn:hover,
#add-chapter-btn:hover {
  background: black;
  color: white;
  box-shadow: 0px 5px 15px 0px #000000;
}

#currently-viewing {
  position: relative;
  width: 70%;
  margin-bottom: 15px;
  height: 10%;
  max-height: 10%;
  background: none;
  padding: 15%;
  padding-bottom: 5%;
  color: black;
}

#currently-viewing h1,
#currently-viewing h2 {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  line-height: 0.8em;
}

#currently-viewing h2 {
  font-weight: 300;
  font-size: 1rem;
  text-transform: uppercase;
}

#one-sentence-summary {
  width: 80%;
  max-width: 80%;
  margin: 10%;
  margin-top: 10px;
  margin-bottom: 15px;
  height: 20%;
  background: transparent;
  border: 1px dotted grey;
  color: white;
  font-family: "Cormorant Garamond";
  height: 80%;
  max-height: 80%;
}

#right-sidebar-input {
  border-top: 1px solid white;
  padding-top: 20px;
  display: none;
  height: 80%;
  background: black;
}

#save-summary {
  width: 40%;
  border: 1px solid black;
  padding: 0.5em;
  margin: 0;
  cursor: pointer;
  background: white;
  font-family: "Montserrat";
  font-weight: 900;
  text-transform: uppercase;
}

#save-summary:hover {
  background: black;
  border: 1px solid white;
  color: white;
}

#current-container {
  width: 90%;
}

#worldbuilding-navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 60vw;
  height: 65vh;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.worldbuilding-navbtn {
  background: white;
  color: black;
  font-family: "Montserrat";
  border: 1px solid black;
  font-size: 1em;
  margin: 5px;
  padding: 1em;
  cursor: pointer;
  font-weight: 900;
  text-transform: uppercase;
}

.worldbuilding-navbtn:hover {
  color: white;
  background: black;
  box-shadow: 0px 5px 15px 0px #000000;
}

.black-active-btn {
  background: black;
  color: white;
}

.white-active-btn {
  background: white;
  color: black;
  border: 1px solid black;
}

.worldbuilding-module {
  height: 65vh;
  position: absolute;
  width: 60vw;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.worldbuilding-module h2 {
  font-family: "Montserrat";
  text-transform: uppercase;
}

.worldbuilding-module-container {
  width: 100%;
  height: 100%;
  margin-bottom: 25px;
  overflow: auto;
}

.worldbuilding-module-container button {
  font-family: "Montserrat";
  text-transform: lowercase;
  font-weight: 300;
  width: 75%;
  margin-top: 10px;
}

.worldbuilding-module-container h3 {
  font-family: "Montserrat";
  text-transform: uppercase;
  margin-top: 0;
}

.worldbuilding-grid-item {
  border: 1px solid white;
  height: auto;
  padding: 25px;
  width: 75%;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  cursor: pointer;
}

.worldbuilding-grid-item:hover {
  background: white;
  color: black;
  box-shadow: 0px 0px 25px 0px #fff;
}

.worldbuilding-grid-item-text {
  text-align: justify;
  text-align-last: center;
  margin: 10px;
}

.worldbuilding-item-icon {
  max-width: 75%;
}

.hidden {
  display: none;
}

.worldbuilding-item-expanded {
  width: 99%;
  height: auto;
  max-height: 30vh;
  overflow: auto;
  float: left;
  border: 1px solid black;
}

#worldbuilding-sidebar {
  display: block;
  background: black;
}

.worldbuilding-module {
  height: 85%;
}

.worldbuilding-module h2,
.worldbuilding-module h3 {
  font-family: "Cormorant Garamond";
  font-style: normal;
  font-weight: normal;
  text-transform: none;
}

.worldbuilding-module textarea {
  font-family: "Cormorant Garamond";
  width: 100%;
  border: 1px dotted grey;
  padding: 5px;
  background: black;
  color: white;
  padding: 1rem;
}

.worldbuilding-module h3 {
  text-align: center;
}

.worldbuilding-module p {
  text-align: justify;
}

.worldbuilding-module img {
  width: 20%;
  float: left;
  margin: 20px;
}

#textarea-name {
  text-align: center;
  font-size: 1.5em;
  height: 1em;
  overflow: hidden;
  resize: none;
}

#textarea-artist {
  text-align: center;
  font-size: 0.85em;
  height: 0.85em;
  overflow: hidden;
  resize: none;
}

.active-tile {
  background: white;
  color: black;
  box-shadow: 0px 0px 25px 0px #fff;
}

#item-icon {
  margin-left: 10px;
  margin-right: 10px;
}

#item-icon:focus {
  border: 0;
  outline: 1px solid black;
}

.wb-textarea-label {
  text-transform: uppercase !important;
}

#art-viewer {
  height: 65vh;
  overflow: scroll;
  padding-bottom: 20px;
}

#art-viewer textarea {
  max-width: 80%;
  resize: vertical !important;
  overflow: auto;
}

#art-viewer textarea::-webkit-resizer {
  border: 4px solid black;
  background: white;
}

#art-viewer #textarea-name {
  overflow: hidden !important;
}

#radio-btns {
  margin-top: 20px;
}

.MuiButton-contained {
  font-weight: 900 !important;
}

#drawer-btn-container {
  position: absolute;
  left: 0%;
  top: 0%;
}
